bokeh==3.0.3
imblearn==0.0
matplotlib==3.7.0
numpy==1.24.2
pandas==1.5.3
pyproj==3.4.1
pywaffle==1.1.0
scikit_learn==1.2.1
seaborn==0.12.2
xgboost==1.7.4
coral-ordinal==0.1.8
tensorflow==2.11.0
streamlit==1.19.0
-e git+https://github.com/Langhammer/road-accidents-fr.git@6df69a7d0ede85910390da8a72ae3e4f3cde62f3#egg=src